.blog {
  &__header,
  &__cluster {
    margin-bottom: 2rem;
  }

  &__title {
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
    color: var(--color-dark);
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    transform: rotate(-1deg);

    &-bigger {
      font-size: 3rem;
      border: none;
      transform: none;
    }
  }

  &__excerpt,
  &__description {
    background-color: var(--color-light);
    border: var(--border-width) var(--border-style) var(--border-color);
    padding: 1rem;
  }
}

/* Block */
.blog__posts {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1.5rem;
}

/* Block */
.blog-card {
  background-color: var(--color-light);
  border: var(--border-width) var(--border-style) var(--border-color);
  overflow: hidden;
  transition: transform 0.3s;

  &:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0 var(--color-dark);
  }

  &__image {
    aspect-ratio: 16 / 9;
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
    display: block;
    height: auto;
    width: 100%;
  }

  &__cluster {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__title {
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark);
    color: var(--color-light);
    font-size: 1.5rem;
    padding: 0.3rem 0.5rem;
    transform: rotate(-2deg);
  }

  &__meta {
    margin-top: 1rem;
  }
}

[aria-label="Topics"] {
  overflow: hidden;
}

.blog__topics {
  overflow-x: auto;
  background-color: var(--color-light);
  border: var(--border-width) var(--border-style) var(--border-color);
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  list-style: none;
  padding: 1rem;

  li {
    display: inline-block;
  }

  a {
    background-color: #eee;
    border: var(--border-width) var(--border-style) var(--border-color);
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0.35rem 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}
