/* Block */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f0;
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
  padding: 1rem;
}

/* Element of header */
.header__logo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: var(--border-width) var(--border-style) var(--border-color);
  padding: 0.3rem 0.6rem;
  transform: rotate(-2deg);
}

/* Element of header */
.header__nav {
  display: flex;
}

/* Block */
.nav {
  display: none;
  list-style: none;
}

/* Element of nav */
.nav__item {
  display: inline-block;
  margin-left: 5px;
}

/* Element of nav */
.nav__link {
  padding: 0.5rem 1rem;
  color: var(--color-dark);
  text-decoration: none;
  border: 2px solid var(--color-dark);
  background-color: var(--color-light);
  display: block;
  transition: transform 0.2s;
}

.nav__link:hover {
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 0 var(--color-dark);
}

/* Modifier of nav__link */
.nav__link--active {
  font-weight: bold;
  background-color: var(--color-dark);
  color: var(--color-light);
}

.nav__button {
  padding: 0.5rem;
  background: var(--color-light);
  border: var(--border-width) var(--border-style) var(--border-color);
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 576px) {
  .nav {
    display: flex;

    &__button--mobile {
      display: none;
    }
  }
}
