.wrapper {
  // max-width: 1200px;
  max-width: 992px;
  margin: 0 auto;
  padding: 0 1rem;
}

.cluster {
  border-left: var(--border-width) var(--border-style) var(--border-color);
  border-right: var(--border-width) var(--border-style) var(--border-color);
  padding: 1rem;
}
