{% if site.archives %}
  <section class="topics" aria-label="Topics">
    <h2>Topics</h2>
    <ol class="topics__list">
      {% for archive in site.archives %}
        <li class="topics__item">
          <a
            class="topics__link"
            href="{{ archive.url | relative_url }}"
            title="Archive of posts with {{ archive.type }} {{ archive.title | capitalize }}">
            {{- archive.title -}}
          </a>
        </li>
      {% endfor %}
    </ol>
  </section>
{% endif %}