<section class="related-posts">
  <h2 class="related-posts__title">Related articles</h2>
  <ul class="related-posts__list">
    <li class="related-post">
      <div class="related-post__image"></div>
      <div class="related-post__content">
        <h3 class="related-post__title">How to Choose the Perfect Turntable</h3>
        <div class="related-post__date">15 February 2025</div>
      </div>
    </li>

    <li class="related-post">
      <div class="related-post__image"></div>
      <div class="related-post__content">
        <h3 class="related-post__title">Top 10 Rare Soviet Records</h3>
        <div class="related-post__date">February 10, 2025</div>
      </div>
    </li>

    <li class="related-post">
      <div class="related-post__image"></div>
      <div class="related-post__content">
        <h3 class="related-post__title">Music formats of the future: what's next?</h3>
        <div class="related-post__date">February 5, 2025</div>
      </div>
    </li>
  </ul>
</section>
