<section class="comments">
  {% assign comments = site.data.comments[page.slug] %}
  <h2 class="comments__title">Comments ({{ comments | size | default: 0 }})</h2>

  {% if comments %}
    {% for comment in comments %}
      <div class="comment">
        <div class="comment__header">
          <h3 class="comment__author">{{ comment.name }}</h3>
          <time class="comment__date" datetime="{{ comment.date | date_to_xmlschema }}">
            {{ comment.date | date: '%d %B %Y, %H:%M' }}
          </time>
        </div>
        <div class="comment__content">
          <p>{{ comment.message }}</p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="comments__empty">No comments yet. Be the first to comment!</p>
  {% endif %}
</section>

<section class="comment-form">
  <h2 class="comment-form__title">Leave a comment</h2>
  <form
    method="POST"
    action="https://sionta-staticman.up.railway.app/v2/entry/sionta/test-blog/master/comments"
  >
    <input type="hidden" name="options[redirect]" value="{{ page.url | relative_url }}#comments">
    <input type="hidden" name="options[slug]" value="{{ page.slug }}">

    <div class="comment-form__field">
      <label for="name" class="comment-form__label">Name</label>
      <input type="text" id="name" name="fields[name]" class="comment-form__input" required autocomplete="name">
    </div>

    <div class="comment-form__field">
      <label for="message" class="comment-form__label">Comment</label>
      <textarea id="message" name="fields[message]" class="comment-form__textarea" required></textarea>
    </div>

    <button type="submit" class="comment-form__button">Send</button>
  </form>
</section>
