.contact-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  border: var(--border-width) var(--border-style) var(--border-color);
  background-color: #4a7c59;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(5deg);
  transition: transform 0.2s;

  &:hover {
    transform: rotate(0deg) scale(1.1);
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 54px;
    color: var(--color-light);
    text-decoration: none;
  }

  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid var(--color-light);
    border-radius: 50%;
  }
}
