<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    {% feed_meta %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body id="app">
    {% assign site_url = site.url | append: site.baseurl %}
    <header class="header">
      <a
        class="header__logo"
        href="{{ site_url | default: '/' | realative_url }}"
        aria-label="Homepage"
      >
        {{- site.title -}}
      </a>
      {% if site.navigation and site.navigation.size > 0 %}
        <nav class="header__nav">
          <button class="header__menu-button header__menu-button--mobile">Menu</button>
          <ul class="nav">
            {% for path in site.navigation %}
              {% assign nav = site.pages | where: 'path', path | first %}
              {% if nav.title %}
                <li class="nav__item">
                  <a
                    {% if page.url == nav.url %}
                      class="nav__link nav__link--active"
                    {% else %}
                      class="nav__link"
                    {% endif %}
                    href="{{ nav.url | relative_url }}"
                    title="{{ nav.title }}"
                  >
                    {{- nav.title -}}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </header>

    <main id="main" data-layout="{{ page.layout }}">
      {{ content }}
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <div class="cluster">
          <p>
            &copy; {{ site.time | date: '%Y' }}
            {{ site.title }}
          </p>
        </div>
      </div>
    </footer>
    <div class="contact-button">
      <a href="tel:+1234567890" class="contact-button__link">
        <span class="contact-button__icon"></span>
      </a>
    </div>
  </body>
</html>
