---
layout: default
---
{% assign date_format = '%-d %B %Y' %}
<div class="wrapper">
  <article class="article cluster">
    <header class="article__header">
      {% if page.categories and page.categories.size > 0 %}
        <div class="article__categories">
          {% for category in page.categories %}
            <span class="article__category">{{ category | upcase }}</span>
          {% endfor %}
        </div>
      {% endif %}

      <h1 class="article__title">{{ page.title }}</h1>
      <div class="article__meta">
        <span class="article__author">Author: {{ page.author | join: ', ' }}</span>
        <span class="article__date">Published: {{ page.date | date: date_format }}</span>
      </div>
    </header>

    {% include post-image.html %}

    <section class="article__content">
      {{ content }}
    </section>

    {% if page.tags and page.tags.size > 0 %}
      <div class="article__tags">
        {% for tag in page.tags %}
          <span class="article__tag">#{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}

    {% include post-author.html %}
    {% include related-post.html %}
    {% include staticman.html %}
  </article>
</div>
