---
layout: default
---
{% assign date_format = '%-d %B %Y' %}
<div class="wrapper">
  <article class="article cluster">
    <div class="article__header">
      <div class="article__categories">
        <span class="article__category">Music</span>
        <span class="article__category">Vinyl</span>
      </div>
      <h1 class="article__title">{{ page.title }}</h1>
      <div class="article__meta">
        <span class="article__author">Author: {{ page.author | join: ', ' }}</span>
        <span class="article__date">Published: {{ page.date | date: date_format }}</span>
      </div>
    </div>

    {% if page.image %}
      <div class="article__image-container">
        <img
          src="https://placehold.co/1000x400"
          alt="Vinyl Record Collection"
          class="article__image">
        <div class="article__image-caption">Photo: Vinyl collection at MySite</div>
      </div>
    {% endif %}

    <div class="article__content">
      {{ content }}
    </div>

    {% if page.tags and page.tags.size > 0 %}
      <div class="article__tags">
        {% for tag in page.tags %}
          <span class="article__tag">#{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}

    <div class="author">
      <div class="author__avatar"></div>
      <div class="author__info">
        <div class="author__name">Ivan Ivanov</div>
        <div class="author__bio">Music critic, vinyl collector and founder of MySite. Has been writing about music and culture for over 15 years. Owner of a collection of over 3,000 vinyl records.</div>
      </div>
    </div>

    <div class="related-posts">
      <h2 class="related-posts__title">Related articles</h2>
      <div class="related-posts__list">
        <div class="related-post">
          <div class="related-post__image"></div>
          <div class="related-post__content">
            <h3 class="related-post__title">How to Choose the Perfect Turntable</h3>
            <div class="related-post__date">15 February 2025</div>
          </div>
        </div>

        <div class="related-post">
          <div class="related-post__image"></div>
          <div class="related-post__content">
            <h3 class="related-post__title">Top 10 Rare Soviet Records</h3>
            <div class="related-post__date">February 10, 2025</div>
          </div>
        </div>

        <div class="related-post">
          <div class="related-post__image"></div>
          <div class="related-post__content">
            <h3 class="related-post__title">Music formats of the future: what's next?</h3>
            <div class="related-post__date">February 5, 2025</div>
          </div>
        </div>
      </div>
    </div>

    <div class="comments">
      <h2 class="comments__title">Comments (3)</h2>
      <div class="comment">
        <div class="comment__header">
          <div class="comment__author">Alexey P.</div>
          <div class="comment__date">21 February 2025, 14:32</div>
        </div>
        <div class="comment__content">
          <p>Great article! I recently started collecting vinyl too. I totally agree that it's a special ritual. By the way, I was at your last vinyl party - it was amazing!</p>
        </div>
      </div>

      <div class="comment">
        <div class="comment__header">
          <div class="comment__author">Maria K.</div>
          <div class="comment__date">21 February 2025, 16:05</div>
        </div>
        <div class="comment__content">
          <p>What about record care? I have a small collection from my grandmother, but I'm afraid to ruin them. Maybe you could make an article on this topic?</p>
        </div>
      </div>

      <div class="comment">
        <div class="comment__header">
          <div class="comment__author">Dmitry V.</div>
          <div class="comment__date">22 February 2025, 10:17</div>
        </div>
        <div class="comment__content">
          <p>Please advise which player is best for a beginner to start with? Budget up to 20,000 rubles.</p>
        </div>
      </div>
    </div>

    <div class="comment-form">
      <h2 class="comment-form__title">Leave a comment</h2>
      <form>
        <div class="comment-form__field">
          <label for="name" class="comment-form__label">Name</label>
          <input
            type="text"
            id="name"
            class="comment-form__input">
        </div>
        <div class="comment-form__field">
          <label for="email" class="comment-form__label">Email</label>
          <input
            type="email"
            id="email"
            class="comment-form__input">
        </div>
        <div class="comment-form__field">
          <label for="comment" class="comment-form__label">Comment</label>
          <textarea id="comment" class="comment-form__textarea"></textarea>
        </div>
        <button type="submit" class="comment-form__button">Send</button>
      </form>
    </div>
  </article>
</div>