*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
}

a {
  color: inherit;
  text-decoration: none;
}

abbr[title] {
  border: none;
  text-decoration: underline dotted;
}

img,
svg,
video,
canvas,
object {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

pre {
  overflow-x: auto;
}
